<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns="http://www.w3.org/1999/xhtml">
<!--REQUEST PARAMS-->
<f:metadata>
    <f:viewParam id="requestParam" name="id" value="#{authorController.authorId}"/>
    <f:viewAction action="#{authorController.init}"/>
</f:metadata>
<!--END REQUEST PARAMS-->
<h:head>
    <title>Author Details</title>
    <h:outputScript name="js/jquery-3.1.1.js"/>
    <h:outputScript name="js/bootstrap.js"/>
    <h:outputStylesheet name="css/bootstrap.css"/>
</h:head>
<h:body styleClass="container">
    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success"
                style="display: block;"/>
    <h:link value="Back to catalog" outcome="catalog" class="panel-heading"/>
    <h:message for="requestParam" errorClass="alert alert-danger" infoClass="alert alert-success"
               style="display:block"/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">#{authorController.author.toString()} - #{authorController.author.email}</h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Books</h4>

        </div>
        <div class="panel-body">
            <table id="booksTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>State</th>
                </tr>
                <ui:repeat value="#{authorController.author.writtenBooks}" var="book">
                    <tr class="clickable-row">
                        <td>#{book.title}</td>
                        <td>#{book.isbn}</td>
                        <td>#{book.bookState}</td>
                    </tr>
                </ui:repeat>
            </table>
        </div>
    </div>
    <!--CONTRACTS-->
    <h:form id="concludeContractForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Contracts</h4>

            </div>
            <div class="panel-body">
                <table id="contractsTable" class="panel-body table table-bordered table-hover">
                    <tr>
                        <th>Contract publisher</th>
                        <th>Initialization date</th>
                        <th>State</th>
                    </tr>
                    <ui:repeat value="#{authorController.author.contractsWithPublishers}" var="contract">
                        <tr class="clickable-row">
                            <td>
                                <h:commandButton style="border-style: none; background-color: white;"
                                                 id="selectContractBtn"
                                                 action="#{authorController.setSelectedContractId(contract)}"
                                                 value="#{contract.publisher.name}">
                                </h:commandButton>
                                <h:message for="selectContractBtn" errorClass="alert alert-danger"
                                           infoClass="alert alert-success"
                                           style="color:red;"/>
                            </td>
                            <td>#{contract.initDate.toString()}</td>
                            <td>#{contract.state}</td>
                        </tr>
                    </ui:repeat>
                </table>
            </div>
            <h:message for="concludeContractBtn" errorClass="alert alert-danger" infoClass="alert alert-success"
                       style="display: block;"/>
            <h:commandButton id="concludeContractBtn" type="submit" value="Conclude contract!"
                             action="#{authorController.concludeContract()}"
                             styleClass="btn btn-primary btn-block" reRender="concludeContractForm"/>
        </div>
    </h:form>

</h:body>
</html>