<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns="http://www.w3.org/1999/xhtml">

<h:head>
    <title>Bookary</title>
    <h:outputScript name="js/jquery-3.1.1.js"/>
    <h:outputScript name="js/bootstrap.js"/>
    <h:outputStylesheet name="css/bootstrap.css"/>
</h:head>
<h:body styleClass="container">
    <h:form>

        <!--AUTHORS-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Authors</h4>
            </div>
            <table id="authorsTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Written books</th>
                </tr>
                <ui:repeat value="#{catalogController.authors}" var="author">
                    <tr class="clickable-row">
                        <td>
                            <h:link value="#{author.firstName} #{author.lastName}" outcome="author">
                                <f:param name="id" value="#{author.id}"/>
                            </h:link>
                        </td>
                        <td>#{author.email}</td>
                        <td>#{author.writtenBooks.size()}</td>
                    </tr>
                </ui:repeat>
            </table>
        </div>
        <!--END AUTHORS-->
        <!--PUBLISHERS-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Publishers</h4>
            </div>
            <table id="publishersTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Published books</th>
                </tr>
                <ui:repeat value="#{catalogController.publishers}" var="publisher">
                    <tr class="clickable-row">
                        <td>
                            <h:link value="#{publisher.name}" outcome="publisher">
                                <f:param name="id" value="#{publisher.id}"/>
                            </h:link>
                        </td>
                        <td>#{publisher.contactEmail}</td>
                        <td>#{publisher.contactAddress}</td>
                        <td>#{publisher.publishedBooks.size()}</td>
                    </tr>
                </ui:repeat>
            </table>
        </div>
        <!--END PUBLISHERS-->
        <!--LIBRIRIES-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Library</h4>
            </div>
            <table id="libririesTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Books in library</th>
                </tr>
                <ui:repeat value="#{catalogController.libriries}" var="library">
                    <tr class="clickable-row">
                        <td>
                            <h:link value="#{library.name}" outcome="library">
                                <f:param name="id" value="#{library.id}"/>
                            </h:link>
                        </td>
                        <td>#{library.address}</td>
                        <td>#{library.collectedBooks.size()}</td>
                    </tr>
                </ui:repeat>
            </table>
        </div>
        <!--END LIBRIRIES-->
    </h:form>
</h:body>
</html>
