<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns="http://www.w3.org/1999/xhtml">
<!--REQUEST PARAMS-->
<f:metadata>
    <f:viewParam id="requestParam" name="id" value="#{libraryController.libraryId}"/>
    <f:viewAction action="#{libraryController.init}"/>
</f:metadata>
<!--END REQUEST PARAMS-->
<h:head>
    <title>Library Details</title>
    <h:outputScript name="js/jquery-3.1.1.js"/>
    <h:outputScript name="js/bootstrap.js"/>
    <h:outputStylesheet name="css/bootstrap.css"/>
</h:head>
<h:body styleClass="container">
    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success"
                style="display: block;"/>
    <h:link value="Back to catalog" outcome="catalog" class="panel-heading"/>
    <h:message for="requestParam" errorClass="alert alert-danger" infoClass="alert alert-success"
               style="display:block"/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">#{libraryController.library.toString()} -
                #{libraryController.library.address}</h4>
        </div>
    </div>

    <!--LIBRARY BOOKS-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Library books</h4>

        </div>
        <div class="panel-body">
            <table id="booksTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Exemplars</th>
                    <th>Borrowed</th>
                </tr>
                <ui:repeat value="#{libraryController.library.collectedBooks}" var="libraryBook">
                    <tr class="clickable-row">
                        <td>#{libraryBook.book.title}</td>
                        <td>#{libraryBook.book.isbn}</td>
                        <td>#{libraryBook.copyCounter}</td>
                        <td>#{libraryBook.borrowedCounter}</td>
                    </tr>
                </ui:repeat>
            </table>
        </div>
    </div>
    <!--END LIBRARY BOOKS-->

    <!--FUNCTIONS : GET BOOK-->
    <!--ALL BOOKS-->
    <h:form id="addBookForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">All Books - select Book to take copy to library</h4>

            </div>
            <div class="panel-body">
                <table id="allBooksTable" class="panel-body table table-bordered table-hover">
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>State</th>
                    </tr>
                    <ui:repeat value="#{libraryController.books}" var="book">
                        <tr class="clickable-row">
                            <td>
                                <h:commandButton style="border-style: none; background-color: white;" id="selectBookBtn"
                                                 action="#{libraryController.setSelectedBookId(book)}"
                                                 value="#{book.title}">
                                </h:commandButton>
                                <h:message for="selectBookBtn" errorClass="alert alert-danger"
                                           infoClass="alert alert-success"
                                           style="color:red;"/>
                            </td>
                            <td>#{book.isbn}</td>
                            <td>#{book.bookState}</td>
                        </tr>
                    </ui:repeat>
                </table>
            </div>
            <h:message for="addBookBtn" errorClass="alert alert-danger" infoClass="alert alert-success"
                       style="display: block;"/>
            <h:commandButton id="addBookBtn" type="submit" value="Add book!"
                             action="#{libraryController.addBook()}"
                             styleClass="btn btn-primary btn-block" reRender="addBookForm"/>
        </div>
    </h:form>
    <!--ALL BOOKS BOOKS-->
    <!--END FUNCTIONS: GET BOOK-->
</h:body>
</html>