<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jstl/core"
      xmlns="http://www.w3.org/1999/xhtml">
<!--REQUEST PARAMS-->
<f:metadata>
    <f:viewParam id="requestParam" name="id" value="#{publisherController.publisherId}"/>
    <f:viewAction action="#{publisherController.init}"/>
</f:metadata>
<!--END REQUEST PARAMS-->
<h:head>
    <title>Publisher Details</title>
    <h:outputScript name="js/jquery-3.1.1.js"/>
    <h:outputScript name="js/bootstrap.js"/>
    <h:outputStylesheet name="css/bootstrap.css"/>
</h:head>
<h:body styleClass="container">
    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success"
                style="display: block;"/>
    <h:link value="Back to catalog" outcome="catalog" class="panel-heading"/>
    <h:message for="requestParam" errorClass="alert alert-danger" infoClass="alert alert-success"
               style="display:block"/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">#{publisherController.publisher.toString()} -
                #{publisherController.publisher.contactEmail}</h4>
        </div>
    </div>

    <!--CONTRACTS-->
    <h:panelGroup id="contracts">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">My contracts</h4>

            </div>
            <div class="panel-body">
                <table id="contractsTable" class="panel-body table table-bordered table-hover">
                    <tr>
                        <th>Contract publisher</th>
                        <th>Initialization date</th>
                        <th>Author</th>
                        <th>Concluded date</th>
                        <th>State</th>
                    </tr>
                    <ui:repeat value="#{publisherController.publisher.contractsWithAuthors}" var="contract">
                        <tr class="clickable-row">
                            <td>#{contract.publisher.name}</td>
                            <td>#{contract.initDate.toString()}</td>
                            <td>#{contract.author.toString()}</td>
                            <c:if test="#{contract.concludedDate != null}">
                                <td>#{contract.concludedDate}</td>
                            </c:if>
                            <c:if test="#{contract.concludedDate == null}">
                                <td>-</td>
                            </c:if>
                            <td>#{contract.state}</td>
                        </tr>
                    </ui:repeat>
                </table>
            </div>
        </div>
    </h:panelGroup>
    <!--END CONTRACTS-->

    <!--PUBLISHED BOOKS-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Published books</h4>

        </div>
        <div class="panel-body">
            <table id="booksTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>State</th>
                </tr>
                <ui:repeat value="#{publisherController.publisher.publishedBooks}" var="book">
                    <tr class="clickable-row">
                        <td>#{book.title}</td>
                        <td>#{book.isbn}</td>
                        <td>#{book.bookState}</td>
                    </tr>
                </ui:repeat>
            </table>
        </div>
    </div>
    <!--END PUBLISHED BOOKS-->

    <!--FUNCTIONS : OFFER CONTRACT, PUBLISH BOOK-->
    <!--ALL BOOKS-->
    <h:form id="publishBookForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Books - select Book to publish it</h4>

            </div>
            <div class="panel-body">
                <table id="allBooksTable" class="panel-body table table-bordered table-hover">
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>State</th>
                    </tr>
                    <ui:repeat value="#{publisherController.books}" var="book">
                        <tr class="clickable-row">
                            <td>
                                <h:commandButton style="border-style: none; background-color: white;" id="selectBookBtn"
                                                 action="#{publisherController.setSelectedBookId(book)}"
                                                 value="#{book.title}">
                                </h:commandButton>
                                <h:message for="selectBookBtn" errorClass="alert alert-danger"
                                           infoClass="alert alert-success"
                                           style="color:red;"/>
                            </td>
                            <td>#{book.isbn}</td>
                            <td>#{book.bookState}</td>
                        </tr>
                    </ui:repeat>
                </table>
            </div>
            <h:message for="publishBookBtn" errorClass="alert alert-danger" infoClass="alert alert-success"
                       style="display: block;"/>
            <h:commandButton id="publishBookBtn" type="submit" value="Publish book!"
                             action="#{publisherController.publishBook()}"
                             styleClass="btn btn-primary btn-block" reRender="publishBookForm"/>
        </div>
    </h:form>
    <!--END PUBLISHED BOOKS-->
    <!--AUTHORS OFFER CONTRACT-->
    <h:form id="offerContractForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Authors - select the Author to offer a contract

                </h4>
            </div>
            <table id="authorsTable" class="panel-body table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Written books</th>
                </tr>


                <ui:repeat value="#{publisherController.authors}" var="author">
                    <tr class="clickable-row">
                        <td>
                            <h:commandButton style="border-style: none; background-color: white;" id="selectAuthorBtn"
                                             action="#{publisherController.setSelectedAuthorId(author)}"
                                             value="#{author.toString()}">
                            </h:commandButton>
                            <h:message for="selectAuthorBtn" errorClass="alert alert-danger"
                                       infoClass="alert alert-success"
                                       style="color:red;"/>
                        </td>
                        <td>#{author.email}</td>
                        <td>#{author.writtenBooks.size()}</td>
                    </tr>
                </ui:repeat>


            </table>
            <h:message for="offerContractBtn" errorClass="alert alert-danger" infoClass="alert alert-success"
                       style="display: block;"/>
            <h:commandButton id="offerContractBtn" type="submit" value="Offer contract!"
                             action="#{publisherController.offerContract()}"
                             styleClass="btn btn-primary btn-block" reRender="offerContractForm"/>
        </div>

    </h:form>
    <!--END AUTHORS OFFER CONTRACT-->
    <!--END FUNCTIONS: OFFER CONTRACT, PUBLISH BOOK-->


</h:body>
</html>